<!--extend base file-->
{% extends 'base.html' %}

<!--title section-->
{% block title %}
About
{% endblock %}

<!-- content section-->
{% block content %}

<!--  About section here -->

<section class="about">

  <h2>Cassava</h2>
  <!-- <div class="about-div"> -->

    <p>Cassava is a root vegetable widely consumed in developing countries. It provides some important nutrients
      and resistant starch, which may have health benefits. Cassava is a nutty-flavored, starchy root vegetable or
      tuber. Native to South America, it’s a major source of calories and carbs for people in developing
      countries.</p>


    <p>It is grown in tropical regions of the world because of its ability to withstand difficult growing
      conditions — in fact, it’s one of the most drought-tolerant crops. </p>

    <p>
      In the United States, cassava is often called yuca and may also be referred to as manioc or Brazilian
      arrowroot.

      The most commonly consumed part of cassava is the root, which is very versatile. It can be eaten whole,
      grated or ground into flour to make bread and crackers.

      Additionally, cassava root is well known as the raw material that’s used to produce tapioca and garri, a
      product similar to tapioca.
    </p>

    <p>As the second-largest provider of carbohydrates in Africa, cassava is a key food security crop grown by
      smallholder farmers because it can withstand harsh conditions. At least 80% of household farms in Sub-Saharan
      Africa grow this starchy root, but viral diseases are major sources of poor yields.</p>

    <p>Existing methods of disease detection require farmers to solicit the help of government-funded agricultural
      experts to visually inspect and diagnose the plants. This suffers from being labor-intensive, low-supply and
      costly. As an added challenge, effective solutions for farmers must perform well under significant
      constraints, since African farmers may only have access to mobile-quality cameras with low-bandwidth.</p>


    <p>So, with the help of this website through the training set we have, we will try to classify which disease
      type cassava caught with the help of image processing techniques and AI.</p>

  <!-- </div> -->

  <h2>Tools & Libraries </h2>
  <div class="tools-div">

    <div class="sub-div">
      <ul class="tools-list" style="list-style-image: url({{url_for('static', filename='images/bullet.svg')}})">
        <li>Python</li>
        <li>Tensorflow</li>
        <li>Keras</li>
        <li>Pandas</li>
        <li>Matplotlib</li>
        <li>PIL</li>
        <li>Tensorflow-hub</li>
        <li>Flask</li>
        <li>Html</li>
        <li>CSS</li>

      </ul>
    </div>
  </div>

  <footer class="foot-style">
    <div>
        <strong>
      &copy; Copyright </strong>. All Rights Reserved
    </div>
</footer>

</section>


{% endblock %}