{% extends "layout.html" %}
{% block body %}



<!-- Page content -->
<main>

    <div class="mx-auto tm-content-container">
        <div class="row mt-3 mb-5 pb-3">
            <div class="col-12">
                <div class="mx-auto tm-about-text-container px-3">
                    <h2 class="tm-page-title mb-4 tm-text-primary">Cassava Diseases</h2>
                    <p class="mb-4">As the second-largest provider of carbohydrates in Africa, cassava is a key
                        food security crop grown by
                        smallholder farmers because it can withstand harsh conditions. At least 80% of household
                        farms in Sub-Saharan
                        Africa grow this starchy root, but viral diseases are major sources of poor yields.</p>
                    <p class="mb-4">Existing methods of disease detection require farmers to solicit the help of
                        government-funded agricultural
                        experts to visually inspect and diagnose the plants. This suffers from being
                        labor-intensive, low-supply and
                        costly. As an added challenge, effective solutions for farmers must perform well under
                        significant
                        constraints, since African farmers may only have access to mobile-quality cameras with
                        low-bandwidth.</p>
                    <p class="mb-4">So, with the help of this website through the training set we have, we will
                        try to classify which disease
                        type cassava caught with the help of image processing techniques and AI.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row tm-catalog-item-list">
        <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
            <div class="position-relative tm-thumbnail-container">
                <img src="static/img/tn-01.jpg" alt="Image" class="img-fluid tm-catalog-item-img">

            </div>





            <div class="p-4 tm-bg-gray tm-catalog-item-description">
                <h3 class="tm-text-primary mb-3 tm-catalog-item-title">Cassava Bacterial Blight (CBB)</h3>
                <p class="tm-catalog-item-text">Xanthomonas axonopodis pv. manihotis is the pathogen that causes
                    bacterial blight of cassava. Originally
                    discovered in Brazil in 1912, the disease has followed cultivation of cassava across the
                    world.[1] Among
                    diseases which afflict...<a
                        href="https://www.intechopen.com/books/cassava/cassava-bacterial-blight-a-devastating-disease-of-cassava"
                        target="_blank">know more</a></p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
            <div class="position-relative tm-thumbnail-container">
                <img src="static/img/tn-02.jpg" alt="Image" class="img-fluid tm-catalog-item-img">

            </div>
            <div class="p-4 tm-bg-gray tm-catalog-item-description">
                <h3 class="tm-text-primary mb-3 tm-catalog-item-title">Cassava Brown Streak Disease (CBSD)</h3>
                <p class="tm-catalog-item-text">Cassava brown streak virus disease (CBSD) is a damaging disease
                    of cassava plants, and is especially
                    troublesome in East Africa. It was first identified in 1936 in Tanzania, and has spread to
                    other coastal
                    areas of East...<a href="https://www.cabi.org/isc/datasheet/17107" target="_blank">know more</a>
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
            <div class="position-relative tm-thumbnail-container">
                <img src="static/img/tn-03.jpg" alt="Image" class="img-fluid tm-catalog-item-img">

            </div>
            <div class="p-4 tm-bg-gray tm-catalog-item-description">
                <h3 class="tm-text-primary mb-3 tm-catalog-item-title">Cassava Green Mottle (CGM)</h3>
                <p class="tm-catalog-item-text">It has not been confirmed to be a nepovirus; these are viruses
                    that are transmitted by nematodes - hence
                    the name. Narrow. Only known from Solomon Islands. It was first found on Choiseul in the
                    1970s; more
                    recently (2010)...<a href="https://www.pestnet.org/fact_sheets/cassava_green_mottle_068.htm"
                        target="_blank">know more</a></p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
            <div class="position-relative tm-thumbnail-container">
                <img src="static/img/tn-04.jpg" alt="Image" class="img-fluid tm-catalog-item-img">

            </div>
            <div class="p-4 tm-bg-gray tm-catalog-item-description">
                <h3 class="tm-text-primary mb-3 tm-catalog-item-title">Cassava Mosaic Disease (CMD)</h3>
                <p class="tm-catalog-item-text">Cassava mosaic virus is the common name used to refer to any of
                    eleven different species of plant
                    pathogenic virus in the genus Begomovirus. African cassava mosaic virus (ACMV), East African
                    cassava
                    mosaic virus (EACMV)...<a
                        href="https://www.apsnet.org/edcenter/apsnetfeatures/Pages/cassava.aspx"
                        target="_blank">know more</a></p>
            </div>
        </div>



</main>



{% endblock %}