{% extends "layout.html" %}
{% block body %}


<!--  prediction content here -->



<main>

    <div class="mx-auto tm-content-container">
        <div class="row mt-3 mb-5 pb-3">
            <div class="col-12">
                <div class="mx-auto tm-about-text-container px-3">
                    <div class="prediction">
                        <div class="mx-auto tm-about-text-container px-3">
                            <h2 class="tm-page-title mb-4 tm-text-primary">Predicted Results</h2>

                            <p class="mb-0">Model Is Not Sure About This Image</p>
                            <p class="mb-0">Please Select Image Of Cassava
                                Leaf</p>
                            <p class="mb-0 retry"><a href="{{home_page}}">Try Again</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</main>


{% endblock %}